@import "./colors";

.details {
  flex: 1.5;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;

  &-content {
    max-width: 58rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &-heading {
    margin-top: 15rem;
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 17.3px;
    color: $dark-grayish-red;

    &-1 {
      color: $desaturated-red;
      font-weight: 300;
    }
  }

  &-description {
    font-size: 1.6rem;
    margin: 2.4rem 0 3.5rem 0;
    padding-right: 15.2rem;
    line-height: 27px;
    color: $desaturated-red;
  }

  &-error {
    color: $desaturated-red;
    font-size: 1.6rem;
    padding-left: 3.3rem;
    margin-top: 1rem;
    transform: translateY(-7rem);
  }
}

.form {
  position: relative;
  width: 90%;
  &-input {
    min-width: 90%;
    padding: 2rem 3rem;
    margin: 0.8rem 0;
    border: 1px solid $desaturated-red;
    border-radius: 30px;
    color: #000;
    font-size: 1.6rem;
    outline: transparent;
    background-color: transparent;

    &::placeholder {
      color: $desaturated-red;
      font-size: 1.6rem;
    }
  }

  &-btn {
    border: none;
    cursor: pointer;
    color: $white;
    padding: 2.1rem 4.5rem;
    text-align: center;
    border-radius: 30px;
    position: absolute;
    top: 8px;
    right: -1px;
    background: $linear-pink;
    box-shadow: 0 1rem 2rem rgba($soft-red, $alpha: 0.3);

    &:hover {
      background: $linear-pink-light;
    }
  }
}

.invalid {
  input {
    border: 2px solid red;
  }
}

.error-icon {
  position: absolute;
  top: 25px;
  right: 120px;
}

@media only screen and (max-width: 65.62em) {
  .details {
    order: 3;
    text-align: center;
    background: hsl(0, 74%, 95%);

    &-heading {
      margin-top: 8rem;
      font-size: 5.5rem;
      line-height: 1.1;
    }
    &-description {
      padding: 0;
    }
  }

  .form-input {
    max-width: 57rem;
    margin-bottom: 8rem;
  }
}
